#solutions .nav {
    margin-bottom: 15px;
}

#problem-image {
	width: 225px;
	height: 170px;
	position:relative;
	float: right;
	border: solid 1px;
}

#problem-image input {
	bottom: 0;
	position: absolute;
	margin-bottom: 0px;
}

#problem-image img {
	width: 100%;
}