#solutions .nav {
    margin-bottom: 15px;
}

.paginator {
	text-align: center;
}

.related #description-cell {
	max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#image-upload {
	float: right;
	width: 480px;
	height: 300px;
	position:relative; /* or fixed or absolute */
}

input[name="file-photo"] {
	cursor: pointer;
}