#solutions .nav {
    margin-bottom: 15px;
}

#problem-image > #image-container {
	text-align: center;
}

#problem-image img {
	max-width: 100%;
	max-height: 200px;
}

.paginator {
	text-align: center;
}

.related #description-cell {
	max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}